body {
    font-family: Arial, sans-serif;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination a {
    color: #333;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #3485ef;
    color:white
}

.pagination .arrow {
    font-size: 1.5em;
}

.pagination .page {
    font-size: 1em;
}

.pagination .page.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}
