body {
    background-color: #f4f4f4;
}
.container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="submit"],
input[type="button"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #45a049;
}
input[type="button"] {
    background-color: #e53935;
    margin: 10px 10px 10px 0px;
}
input[type="button"]:hover {
    background-color: #c62828;
}
